// Define variables for your color scheme

// For example:
$red: #FF7043;
$blue: #469AE0;
$yellow: #FFCA28;
$orange: #FFA270;
$green: #32B796;
$gray: #E1E2E1;
$light-gray: #F5F5F6;
$light-yellow: #FFFD61;
$text-dark: #424242;
$text-ligth: #ffffff;
