<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
  </div>

  <div class="footer-words">
    <a href="/"><p>Home</p></a>
    <%= image_tag("fire.svg",class: "footer_logo2") %>
    <a href="#"><p>About Us</p></a>
    <%= image_tag("fire.svg",class: "footer_logo2") %>
    <a href="#"><p>FAQs</p></a>
  </div>



  <div class="footer-copyright">
    This footer was made with <i class="fa fa-heart"> </i> by Project Silver <%= image_tag("couple.svg",class: "footer_logo") %>
  </div>

</div>
