<div class="container">
  <div class="row">
    <h1>Welcome to design</h1>
    <h1>This is a card</h1>
    <div class="card-frame">
      <div class="card-header">
        Rice Cooker
      </div>
    </div>
  </div>
</div>
