<div class="container">
  <div class="row">
    <h1>Welcome to design</h1>
    <h1>This is a card</h1>
    <div class="card-frame">
      <div class="card-header">
        <h2>Rice Cooker</h2>
      </div>
      <div class="image-wrapper">
        <%= image_tag "sample-rice-cooker.jpg" %>
      </div>
      <div class="card-footer">
        <div class="card-info">
          <h2>100 kr / day</h2>
          <p>Nørrebro, Copenhagen</p>
        </div>
        <div class="red-circle-helper">
          <h2>i</h2>
        </div>
      </div>
    </div>
  </div>
</div>
